body {
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(45deg, #FF9494 10%, #F7E586 100%);
  max-width: 100vw;
  background-repeat: no-repeat;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}


main {
  width: 70vw;
  height: 70vh;
  margin: auto;
  margin-top: 10vh;
  /* background-color: #000; */
  border-radius: 20px;
  display: flex;  
  flex-direction: row;
}

#section-one {
  width: 50%;
  background-color: #444;
  color: #FFF;
  border-radius: 20px 0 0 20px;
  padding: 4rem 3rem ;
}

#section-one>h1{
  font-size: 2.5em;
  margin: 10px 0;
}

#section-one>p{
  font-size: 1.2em;
  line-height: 1.5rem;
  margin-top: 5px;
}

#section-two{
  width: 50%;
  height: 100%;
  background-image: url(../images/session2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 20px 20px 0;
}

.social {
  display: flex;
  flex-direction: column;
}

.social>button{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: transparent;
  margin-top: 10px;
  padding: 10px 20px;
  color: #aaa;
  border-style: solid;
  font-size: 1.2em;
  border-radius: 25px;
  border-width: 1px;
  border-color: #999;
}

.social>button:hover{
  color: aquamarine;
  border-color: aquamarine;
}